<h1>Search for a movie</h1>

<form action= "/results" method="GET">
    <input type="text" placeholder="What Are You Looking For?" name="search">
    <input type="submit" placeholder="Search">

</form>